* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

header {
    color: red;
    margin: 0.5rem auto;
    font-size: 2rem;
}

main {
    margin: 20px auto;
    height: 100%;
    color: black;
}

#ship-preview {
    background-color: black;
    color: red;
}

.placing {
    cursor: pointer;
}

.not-allowed {
    cursor: no-drop;
}

.gameboards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gameboard {
    display: grid;
    grid-template: repeat(10, 1.9rem) / repeat(10, 1.9rem);
    border: solid 1px black;
}

.gameboard div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 1px black;
}

@media (min-width: 685px) {
    .gameboards-container {
        flex-direction: row;
    }
    
    .gameboard {
        grid-template: repeat(10, 2rem) / repeat(10, 2rem);
    }
}